
%prop{
  height: 200px;
  background-color: violet ;
}
.MuiGrid-root{
  & .MuiGrid-item{
    background-color:red;
  }
  & .MuiGrid-container{
    background-color: green;
  }
}

.MuiFormControl-root {
  &.MuiTextField-root{
    width: 100%;
  }
}
	.MuiGrid-root{
    &.MuiGrid-item{
      &.test{

      background-color:grey;
    }
    }
  }
.MuiPaper-root{
  &.auto{
    background-color: green;
  }
  &.auto2-hidden{
  @extend %prop;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  }

  @keyframes example {
  from {opacity: 0;}
  to {opacity:  1;}
  }

}
