
%prop{
  height: 200px;
  background-color: violet ;
}
%animate{
  position: relative;
  padding: 100px;
}
.MuiGrid-root{
  & .MuiGrid-item{
    background-color:red;
  }
  & .MuiGrid-container{
    background-color: green;
  }
}

.MuiFormControl-root {
  &.MuiTextField-root{
    width: 100%;
  }
}
	.MuiGrid-root{
    &.MuiGrid-item{
      &.test{

      background-color:grey;
    }
    }
  }
.MuiPaper-root{
  &.auto{
    background-color: green;
  }
  &.auto2-hidden{
  @extend %prop;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  }
  &.animate1{
    @extend %animate;
    transition:top 1s linear 200ms;
    top:30px
}
  &.animate2{
    @extend %animate;
      top:0px;
  }
  @media only screen and (max-width: 600px) {
    &.animate1 {
      top:0px;
    }
  }

  @keyframes example {
  from {opacity: 0;}
  to {opacity:  1;}
  }

}
