
.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary{
  background-image: linear-gradient(to right,grey, rgba(0,0,0,0.20),grey);
      background-color: rgba(0, 0, 0, 0.04);
}
.MuiLinearProgress-bar .MuiLinearProgress-bar2Indeterminate{

}
.MuiLinearProgress-root.MuiLinearProgress-colorPrimary{
background-color: rgba(0, 0, 0, 0.50);
}
